<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% extends 'shopping_app/base.html' %}

{% block content %}
    <style>
        th {
            font-weight: bold;
        }

    </style>


    <br><br>
    <table class="table-striped table-hover table" style="width: 70%; margin-left: 20%;">
        <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Rate
            </th>
            <th>
                Quantity
            </th>
            <th>
                Discount
            </th>
            <th>
                Price
            </th>
        </tr>
        </thead>

        {% for item in cart_items %}
            <tr>
                <td>
                    {{ item.product_name }}
                </td>
                <td>
                    {{ item.price }}
                </td>
                <td>
                    {{ item.quantity_added }}
                </td>
                <td>
                    {{ item.discount }}
                </td>
                <td>
                    {{ item.total_price }}
                </td>
                <td>
                    <a href="{% url 'remove_item' item_name=item.product_name %}">
                        <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </a>
                </td>
            </tr>
        {% endfor %}

    </table>
    <p>
    <h2 class="jumbotron" style="margin-left: 65%; width: 25%">
        Total price : {{ total }}
    </h2>
    </p>
{% endblock %}